{% extends "base.html" %}

{% block title %}{{ api.name }} - Anypoint Platform APIs{% endblock %}

{% block markdown_alternate %}
<link rel="alternate" type="text/markdown" href="{{ base_url }}/apis/{{ api.slug }}.md">
{% endblock %}

{% block body_attrs %} class="detail-page" data-page-kind="api" data-api-slug="{{ api.slug }}"{% endblock %}

{% block head_scripts %}
{% include "partials/prism_head.html" %}
<script src="{{ jsonpath_js_path }}" defer></script>
<script src="{{ portal_js_path }}" defer></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% set api_name = api.name %}
{% set api_version = api.version %}
{% include "partials/auth_panel.html" %}

<!-- TODO(marcelo): confirm final copy -->
<div id="regionMismatchBanner" class="region-mismatch-banner" hidden role="alert"></div>

<div class="detail-layout">
    {% include "partials/sidebar.html" %}

    <main class="detail-content" id="main-content">
        {% include "partials/overview.html" %}
        {% include "operations/operations_container.html" %}
        {% include "partials/contribute_footer.html" %}
    </main>
</div>
{% endblock %}

{% block scripts %}
<script>
window.__API_META__ = {{ api_meta|tojson_raw }};
window.__OP_LOOKUP__ = {{ op_lookup|tojson_raw }};
window.__PROXY_CONFIG__ = { url: {{ proxy_url|tojson }} };
</script>
{% endblock %}
